*{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.java{
    text-align: center;
    margin-top: 30px;
    color: blue;
}

.couter{
    text-align: center;
    background-color: aqua;
    height: 20vh;
    padding-top: 10px;
}
.coute{
    color: red;
}

.count{
    font-size: 30px;;
}

.cout{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.cout button{
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding: 1%;
}

.res{
    background-color: purple;
}

.de{
    background-color: red;
}

.inc{
    background-color: green;
}

.reset{
    background-color: purple;
}

.decrease{
    background-color: red;
}

.increase{
    background-color: green;
}

/* styling assignment */

.wrapper {
    height: 500px; /* or any fixed value */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 50%;
    height: 50%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: blue;
    color: white; */
    padding: 20px;
    border-radius: 8px;
}
.calculator input{
    padding: 15px;
    font-size: 20px;
    
}
.operation{
    padding: 8px;
    cursor: pointer;
}
.calculate{
    padding: 8px;
    cursor: pointer;
}

.assign {
    width: 50%;
    height: 50%;
    margin:30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}
.assign input{
    padding: 15px;
    font-size: 20px;
    
}
.submit{
    padding: 8px;
    cursor: pointer;
}
.vote {
    text-align: center;
}

.quiz {
    width: 50%;
    height: 50%;
    margin:30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}
.quiz input{
    padding: 15px;
    font-size: 20px;
}
.submits{
    padding: 8px;
    cursor: pointer;
}

.quiz-container, h2, button, p{
    text-align: center;
    padding: 10px;
}

.submit-btn{
    cursor: pointer;
}

.change{
    text-align: center;
    background-color: blue;
    color: #fff;
}
.change, h1, h3, input{
    padding: 15px;
}
.btn-submit{
    background-color: orange;
    color: #fff;
    border-radius: 10px;
    object-fit: cover;
}

.same{
    text-align: center;
    margin: 20px;
}
.same1{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.same1 button{
    cursor: pointer;
}
.news{
    text-align: center;
    margin-top: 20px;
    padding: 2% 0;
}
.act{
    width: 30%;
    height: 30%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: blueviolet;
}

.act input{
    margin-bottom: 10px;
    border-radius: 20px;
}
.login{
    border-radius: 20px;
    cursor: pointer;
}